<div class="row">
    <div>
        <div class="col-12 pt-3 mt-2 ">
            <!-- <img src="Titel.png"> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-5">
        <!-- <img src="favicon.ico"> -->
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <app-temperature-symbols></app-temperature-symbols>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="">
            <button type="button" class="btn" routerLink="/log"><span class="button-text"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col pt-5">
    </div>
</div>