div.champagne {
    background:url("/img/Champagneglas.png"); 
    background-size: 115%;
    background-position: center;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.hummer {
    background:url("/img/Hummer.png"); 
    background-size: 115%;
    background-position: center;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.pingvin {
    background:url("/img/pingvin.png"); 
    background-size: 115%;
    background-position: center;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.arrowgreen {
    background:url("/img/arrowgreen.png"); 
    background-size: 105%;;
    background-position: center;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.arrowblue {
    background:url("/img/arrowblue.png"); 
    background-size: 80%;;
    background-position: center;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.arrowred {
    background:url("/img/arrowred.png"); 
    background-size: 80%;;
    background-position: center;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.container {
    padding: 15px;
    padding-top: 0px;

> div > div.symbol {
    margin: 1px;
    width: 70px;
    height: 181px;
}
}